html, body {
    box-sizing: border-box
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.header-text {
    text-align: right;
}

.header-text h1, h4 {
    color: #566586a3;
}

.logo {
    text-align: left;
}

.logo img {
    width: 70px;
    height: 70px;
    position: relative;
    top: 34px;

}

.logo, .header-text {
    width: 50%;
}


.horizontal {
    width: 100%;
    border: 1px solid #566586a3;
}

.main img {
    width: 100%;
    padding: 20px 0;
}


.section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section img {
    width: 350px;
    height: 220px;
}


.featured {
    color: #566586a3;
}


.text-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.text-link div {
    text-align: center;
}

